body {
  font-family: "Righteous", cursive;
  padding: 20px 60px;
}
a {
  text-decoration: none;
  color: black;
}
* {
  font-family: "Righteous", cursive;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
